@import "tailwindcss";

@font-face {
    font-family: Airbnb Cereal;
    src: url(./assets/fonts/AirbnbCereal.woff2);
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    font-family: Airbnb Cereal;
}
